<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<span th:text="${msg}"></span>
<table border="1">
	<tr>
		<th>Order's Date</th>
		<th>Product Name</th>
		<th>Product Picture</th>
		<th>Customer</th>
		
	</tr>
	<tr th:each="order:${orders}">
		<td th:text="${order.orderplaced}"></td>
  		<td th:text="${order.product.getPname()}">
            <td><img th:src="${order.product.getProductimage}" width="50px" height="50px"/></td>
		<td th:text="${order.emailid}"></td>
	</tr>
</table>
<br/>
<a th:href="@{/adminHome}">Go back to Admin Page</a>
</body>
</html>

