<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<span th:text="${msg}"></span>
<table border="1">
	<tr>
		<th>User Email</th>
		<th>User Type</th>
		
	</tr>
	<tr th:each="users:${users}">
		<td th:text="${users.emailid}"></td>
		<td th:text="${users.typeofuser}"></td>
	</tr>
</table>
<br/>
<a th:href="@{/adminHome}">Go back to Admin Page</a>
</body>
</html>